/.bin
/vim/autoload/
/vim/.netrwhist
/shell/rc.d/00-wallpaper-env.sh
/emacs/.cache/
/emacs/.emacs.desktop
/emacs/bbdb
/emacs/bookmarks
/emacs/elpa/
/emacs/places
/emacs/projectile-bookmarks.*
/emacs/recentf
/emacs/straight/
/emacs/transient/
/emacs/.lsp-session*
/emacs/.emacs.desktop.lock
/emacs/.org-id-locations
/emacs/auto-save-list/
/emacs/eln-cache/
/emacs/eshell/
/emacs/network-security.data
/emacs/tramp
/emacs/url/
/emacs/var/
/root/etc/
/sv/enabled/
/sv/service/**/supervise/
