@define-color bg        #000000;
@define-color bg_dim    #232526;
@define-color fg        #f8f8f2;
@define-color fg_dim    #7e8e91;
@define-color fg_dimmer #465558;

* {
  font-family: "Iosevka Term SS04";
  font-size: 18px;
  min-height: 0;
}

window#waybar {
  background-color: alpha(@bg, 0.8);
}

#custom-clock2, #idle_inhibitor, #memory, #cpu, #custom-ping {
  padding: 0px 8px;
  color: @fg_dimmer;
  font-weight: bold;
}

#network, #tray, #battery {
  padding: 0px 8px;
  background-color: @bg_dim;
  color: @fg_dim;
}

#backlight, #clock, #pulseaudio {
  padding: 0px 8px;
  background-color: @fg_dim;
  color: @bg;
  font-weight: bold;
}

#backlight {
  padding-right: 0;
}

/* #taskbar button { */
/*   border-radius: 0; */
/* } */

/* #taskbar button.minimized { */
/*   border: none; */
/*   background-color: @fg_dimmer; */
/* } */

/* #taskbar button.active { */
/*   background-color: @fg_dim; */
/* } */
